body {
    font-family: cursive;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Dark Mode */

